.astia {
  display: grid;
  grid-template-rows: auto auto auto 10px;
  grid-auto-rows: minmax(10px, auto);
}

.eka {
  background-color: red;
  grid-row: 1;
  position: sticky;
  top: 0;
  
}

.toka {
  background-color: blue;
  grid-row: 2;
}

.kolmas {
  background-color: white;
  grid-row: 3;
}
.jalka {
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  grid-row: 4;
}

/*---------------------laskuri------------*/
.perkele{
  color: white;
  margin-left: 10px;
  height: 100%;
  width: 50vw;
}

.perkele input {
  width: 98%;
  height: 50px;
  font-size: 30px;
  border-style: groove;
}

.perkele div {
  font-size: 28px;
}

.perkele button {
  background-color: coral;
  width: 100%;
  height: 50px;
}

.perkele p {
  font-size: 30px;
  line-height: 60px;
}

.taustatausta {
  background-color: red;
}

.lukutausta {
  height: 250px;
  background-color: black;
}
/*
------------------------------Pohjasivun keskiosa-------------------------------------
*/

.pohjalaatikko {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15px, 1fr, 1fr, 15px, 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(15px, auto) ;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 10px;
}

.pohjaotsikko {
  margin-left: 0.5vw;
  font-size: 30px;
  grid-column: 1 / -1;
}
.pohjaotsikko2 {
  margin-left: 0.5vw;
  font-size: 30px;
  grid-row: 4;
  grid-column: 1 / -1;
}

.pohjatavara1{
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: justify;
  margin-bottom: 20px;
}
.laskuri{
  grid-column: 4 / -1;
  grid-row: 3;
}

.laskurivierus {
  grid-column: 1 / 4;
  grid-row: 3;
}

.pohjatavara3 {
  grid-column: 4 / -1;
  grid-row: 5;
}

img {
  max-width: 100% ;
  max-height: 75vh;
  object-fit: contain;
}

.taikina {
  grid-column: 1 / 4;
  grid-row:5;
}


p {
  font-size: 22px;
  margin-left: 0.5vw;
  text-align: justify;
}

@media (max-width: 1000px) {
  .pohjalaatikko
 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr 1fr 1fr;
  grid-auto-rows: minmax(15px, auto) ;
  grid-gap: 10px;
  }
  .pohjaotsikko1 {
    grid-column: 1 / 2;
    grid-row: 1;
    font-size: 24px;
  }
  .pohjatavara1 {
    grid-column: 1 / 2;
    grid-row: 2;
    font-size: 16px;
    margin-bottom: 0px
  }
  .taikina {
    grid-column: 1 / 2;
    grid-row: 9;
  }
  .pohjaotsikko2 {
    margin-top: 10px;
    grid-column: 1 / 2;
    grid-row: 8;
    font-size: 24px;
  }
  .laskuri {
    grid-column: 1 / 2;
    grid-row:6;
    font-size: 16px;
  }

  .laskurivierus {
    grid-column: 1 / 2;
    grid-row: 7;
    font-size: 16px;
  }

  .pohjatavara3
 {
    grid-column: 1 / 2;
    grid-row: 10;
    font-size: 16px;
  }
}

