.footer-container {
  background-color: red;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 32px;
}

.footer-link {
background-color: red;
grid-column: 1 / 2;
margin-left: 50px;
font-size: 20px;
}

.footer-text {
  background-color: red;
grid-column: 2 / 3;
font-size: 20px;
grid-row: 1;
}

.kak{
  text-decoration: underline;
}