.sankariloota {
  background: url('kuvat/pitsa.jpg') center center/cover no-repeat ;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
  height: 100vh;
  width: 100%;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  object-fit: contain;
  flex-wrap: wrap;
  
}
.sankariotsa {
  font-size: 100px;
  color: white;
  background: rgba(204, 204, 204, 0)
}
.sankarinena {
  font-size: 30px;
  color: whitesmoke;
  background: rgba(204, 204, 204, 0)
}

@media (max-width:1000px) {
  .sankariotsa{
    font-size: 60px;
  }
  .sankarinena {
    font-size: 30px;
  }
}