.sankariloota {
  background: url('kuvat/pitsa.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  object-fit: contain;
  flex-wrap: wrap;
  
}
.sankariloota h1 {
  font-size: 100px;
  color: black;
  background: rgba(204, 204, 204, 0)
}
.sankariloota h2 {
  font-size: 30px;
  color: black;
  background: rgba(204, 204, 204, 0)
}